/* @font-face {
    font-family: "Spartan-Medium";
    src: local("Spartan-Medium"), url(./assets/fonts/Spartan-Medium.ttf) format("truetype");
} */

/* @font-face {
    font-family: "PlayfairDisplaySC-Regular";
    src: local("PlayfairDisplaySC-Regular"), url(./assets/fonts/PlayfairDisplaySC-Regular.ttf) format("truetype");
} */

body {
  margin: 0;
  font-family: "Spartan-Medium", sans-serif;
}

a {
  text-decoration: none;
  color: #121212;
}
